.thetutor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
.tutorcontent{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 10%;
    gap: 40px;
    h1{
        font-size: 3rem;
       
    }
    p{
        font-size: 1rem;

    }
}
    .tutorlist {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .tutorcard{
            width: 200px;
            padding: 2%;
            box-shadow: 0px 0px 10px -5px black;
            img{
                width: 100%;
            }
            .tutordetail{
                padding: 2%;
            .uppertext{
                display: flex;
                justify-content: space-between;
                i{
                    color: gold;
                }
            }
        }
        }
    }
}