.methodhero {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    position: relative;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        z-index: -1;
        filter: blur(10px);
    }

    .herocontent {
        padding: 7.5%;
        gap: 10px;
        display: flex;

        img {
            width: 50%;
            object-fit: cover;
            aspect-ratio: 1;
        }
    }

    .herotext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: white;
        padding: 20px;
        height: 100vh;
        text-align: left;
    }

    .herotext h1 {
        font-size: 3rem;
        padding-bottom: 10px;
    }

    .herotext p {
        font-size: 1.25rem;
        padding-bottom: 20px;
    }

    .herotext button {
        font-size: 1.5rem;
        padding: 10px 20px;
        border-radius: 100px;
        color: var(--black);
        background-color: var(--primary-color);
        border: none;
        cursor: pointer;
    }

    .herotext button:hover {
        background-color: var(--secondary-color);
    }


    .bottomsection {
        position: relative;
        color: white;



        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 5% 25%;
            gap: 10px;

        }

        .content h1 {
            background-color: var(--background-color);
            padding: 10px;
        }

        .lowerpic {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 90%;
            }

            p {
                color: rgba(0, 0, 0, 0.5);
                text-align: center;
                padding: 3% 20%;
            }
        }

        .smalldiv {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;

            p {
                font-size: 1.05em;
                font-weight: bold;
            }

            i {
                font-size: 1.5em;
            }
        }
    }

}
.bottomsection .innersection:nth-child(even){
    background-color: var(--primary-color);
}
.bottomsection .innersection:nth-child(odd){
    background-color: white;
    p{
        color: black;
    }
}

@media (max-width: 1024px) {
   
    .methodhero .herotext h1 {
        font-size: 2.5rem;
    }

    .methodhero .herotext p {
        font-size: 1.1rem;
    }

    .methodhero .herotext button {
        font-size: 1.2rem;
        padding: 8px 16px;
    }

}

@media (max-width: 768px) {
    .methodhero {
        height: auto;
    }

    .methodhero .herotext {
        padding: 10px;
    }

    .methodhero .herotext h1 {
        font-size: 2rem;
        margin-bottom: 8px;
    }

    .methodhero .herotext p {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .methodhero .herotext button {
        font-size: 1rem;
        padding: 6px 12px;
    }

    .bottombar {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .herocontent {


        img {
            display: none;
        }
    }
    .methodhero .herotext h1 {
        font-size: 1.8rem;
    }

    .methodhero .herotext p {
        font-size: 0.9rem;
    }

    .methodhero .herotext button {
        font-size: 0.9rem;
        padding: 5px 10px;
    }
}