.coursecontent {
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .contentdiv {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 5% 20% 2% 0%;
    }

    .contentcards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .card {
            padding: 15px;
            width: 225px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            background-color: #fff;

            h1 {
                font-size: 1rem;
            }

            p {
                font-size: 0.85em;
                color: rgba(0, 0, 0, 0.6);
            }

            .cardcontent {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .cardimg {
                width: 100%;
                object-fit: fill;
            }

            span {
                margin-top: 30px;
                color: grey;
                font-size: 0.7em;
            }
        }
    }
}