*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #59B99A; /* Light Teal Green */
  --secondary-color: #2B8A76; /* Medium Teal Green */
  --accent-color-1: #1F6262; /* Very Dark Gray Green */
  --accent-color-2: #1C4F4A; /* Dark Turquoise */
  --background-color: #142E3C; /* Very Dark Turquoise */
  --text-color: #112435; /* Very Dark Antique Blue */

  /* Additional optional colors */
  --white: #ffffff;
  --black: #000000;
}


/* Use the defined variables in your components */
/* body {
  background-color: var(--background-color);
  color: var(--text-color);
} */

button {
  background-color: var(--primary-color);
  color:var(--white);
}

button:hover {
  background-color: var(--secondary-color);
}
